body {
    background-color: #f6f6f6; 
    color: #008891;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.first {
    margin: 10px;
    text-align: left;
    padding: 20px;
    border-style:outset;
    border-radius: 100px;
    border-color: #a6f6f1;
    border-width: 50px;


    
}
.intro {
    margin: 10px;
    padding: 20px;
    text-align: center;
}
h3 { 
    text-align: center;
    margin: 10px;
    padding: 20px;
}
h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.movies {
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.list1 {
    margin: 40px;
    padding: 10px;
    text-align: left; 
    

}

.list2 {
    margin: 40px;
    padding: 20px;
    text-align:left;
    

}
.songs {
    margin: 10px;
    padding: 20px;
    text-align: center; 
    

}
.second{
    float: left;
    text-align: center;
    border-style: outset;
    border-radius: 100px;
    margin: 20px;
    border-color:#a6f6f1;
    border-width: 30px;
    
    


}
.third{
    float: right;
    text-align: center;
    border-style:inset;
    border-radius: 100px;
    border-color:#a6f6f1;
    border-width: 30px;
    margin: 20px;
}

